/*.grid_container{
    display: grid;
     display: inline-grid;
    row-gap: 20px;
 margin: 0px auto;
grid-template-columns: 200px 200px 200px; 
 grid-template-columns: 1fr 1fr 1fr; 
grid-template-columns: repeat(6 1fr); 
grid-template-columns: repeat(3, 1fr);
 grid-template-rows: 200px 400px; 
grid-template-rows: repeat(3, 200px);
justify-content: space-evenly;
align-content: center;
width: 100vw;
height: 100vh;
}
.grid_items{
    width: 50px;
    padding: 50px;
    border: 1px solid black;
}
.one{
    grid-column: 1/3;
    grid-row: 1/3;
}
.two{
    grid-column: 1/3;
    grid-row: 2/4;
} */

*{
    margin: 0%;
    padding: 0%;
}
.grid_container{
    display: grid;
    grid-template-columns: repeat(12, 3fr);
    grid-template-rows: repeat(9, 80px);
    background-color: blue;
    height: 100vh;
    color: white;
    font-size: 25px;
}
header{
    border: 1px solid white;
    grid-column: 1/13;
    grid-row: 1/2;
}
nav{
    grid-column: 1/4;
    grid-row: 2/4;
    text-align: center;
    border: 1px solid white;
}
aside{
    grid-column: 1/4;
    grid-row: 4/6;
    border: 1px solid white;
    text-align: center;
}
main{
    grid-column: 4/13;
    grid-row: 2/6;
    text-align: center;
    border: 1px solid white;
}
section{
    text-align: center;
    grid-row: 6/8;
    grid-column: 1/13;
    border: 1px solid white;
}
footer{
    border: 1px solid white;
    text-align: center;
    grid-row: 8/10;
    grid-column: 1/13;
}